@font-face {
  font-family: 'Open Sans';
  src: url(../Fonts/OpenSans-Bold.ttf)
}
*{
  margin: 0;
  font-family: 'Open Sans';
}
body {
  display: flex;
}
#roleta{
  margin-top: 2px;
  border-radius: 50%;
  padding: 0;
}
#marcador {
  margin-left: 270px;
  top: -5px;
  z-index: 2;
  position: absolute;
}
section div:first-child {
  z-index: 1;
  position: absolute;
}
section div:last-child {
  background-color: #00BFFF;
  color: #fff;
  font-size: 72%;
  position: absolute;
  width: 383px;
  height: 403px;
  margin-top: 70px;
  margin-left: 100px;
  border-radius: 50%;
  padding: 6em;
  box-sizing: border-box;
  display: grid;
  justify-content: space-around;

}
span {
  display: grid;
  text-align: center;
  justify-content: flex-end;
  align-items:flex-end;
}
button {
  margin: 0.5em;
  padding: 1em;
  border: 0px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border-bottom: 2px outset #ccc;
  color: #fff;
  border-radius: 5%;
  box-shadow: 0 0 5px;
  cursor: pointer;
}
#buttons{
  width: 50%;
  justify-content: center;
  padding: 1.5em;
  display: grid;
  position: absolute;
  right: 0;
}
